.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  grid-auto-rows: minmax(100px, auto); 
  gap: 20px; 
}

.grid-item {
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #F2F2F2;
}

.note-list {
  margin: 0 35px 35px;
}

.note-list p {
  margin: 5px 0;
}

.note-list ul li {
  border-bottom: 1px solid #e5e5e5;
}

.note-item-wrapper {
  position: relative;
}

.item-icons-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
