header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding: 0 15px;
  transition: all 0.9s ease;
  z-index: 101;

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.9s ease;
  }

  & .header-top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;

    & .header-aside {

      & .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
          display: inline-flex;
          text-decoration: none;
        }
      }
    }

    & .header-info {
      display: flex;
      flex-direction: row;

      & .header-user-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
      }

      & ul {
        display: flex;
        flex-direction: row;

        & li {
          display: flex;
          justify-content: center;
          align-items: center;

          & a {
            display: inline-flex;
            text-decoration: none;
          }

          & .locale-wrapper {            
            display: inline-flex;
            position: relative;

            & .locale-popup-wrapper {              
              position: absolute;
              top: 30px;
              right: 0px;
              border: 1px solid #CCC;
              border-radius: 5px;
              padding: 10px;
              background-color: #FFF;
              width: max-content;

              & ul {                
                display: flex;
                flex-direction: column;

                & li {                  
                  justify-content: flex-start;
                  padding: 5px 0px;
                  border-radius: 5px;

                  & .locale-button {                    
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
