nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #FFF;
  z-index: 100;

  &.sticky {
    position: sticky;
    top: 55px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    transition: all 0.9s ease;
  }

  & .header-search-section {
    width: 100%;
    max-width: 25em;
    border: 2px solid #333;
    border-radius: 25px;
    background-color: #fff;
  }

  & .header-filter-section {
    & ul {
      display: flex;
      flex-direction: row;
    }
  }
}
