nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #FFF;
  z-index: 100;

  &.sticky {
    position: sticky;
    top: 55px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    transition: all 0.9s ease;
  }

  & .header-info-section {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    & .note-count-wrapper {      
      font-size: 15px;
      font-weight: 300;
      margin: 5px 0px;

      & .note-count {
        font-size: 22px;
        font-weight: 600;
        color: #00754A;
      }
    }

    & .search-message-wrapper {      
      font-size: 13px;
      font-weight: 300;

      & .search-word {        
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  & .header-search-section {
    width: 100%;
    max-width: 25em;
    border: 2px solid #333;
    border-radius: 25px;
    background-color: #fff;
  }

  & .header-filter-section {
    margin-top: 10px;

    & ul {
      display: flex;
      flex-direction: row;

      & li {
        font-size: 14px; 
        border: 1px solid #333; 
        border-radius: 25px; 
        margin: 0px 5px; 
        padding: 7px 12px;
      }
    }
  }
}
