.App {
  border: 1px solid #e5e5e5;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  height: calc(100% - 50px);
  font-size: 13px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fc-blue {
  color: #0a66c2;
}

.note-list,
.note-detail {
  flex: 1;
}

.note-list {
  border-right: 1px solid #e5e5e5;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.note-list p {
  margin: 5px 0;
}

.note-detail {
  padding: 35px;
}

.p-15px {
  padding: 15px;
}

.note-list ul li {
  border-bottom: 1px solid #e5e5e5;
}

.note-list::-webkit-scrollbar {
  width: 12px;
}

.note-list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
}

.note-list::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 50px;
  background-color: #aaa;
  background-clip: content-box;
}
