.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  font-size: 13px;
  margin: 5px 10px 20px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fc-blue {
  color: #0a66c2;
}

.p-15px {
  padding: 15px;
}

.note-detail {
  position: relative;
  flex: 1;
  padding: 25px;
}

@media (max-width: 820px) {
  main {
    flex-direction: column;
  }

  .note-list {
    flex: none !important;
  }

  .note-list ul {
    display: flex;
    flex-direction: row;
  }

  .note-list ul article {
    width: 350px;
  }
}

@media (min-width: 821px) {
  main {
    flex-direction: row;
  }

  .note-list {
    flex: 1 1 !important;
  }
}
